img
{
    width: 200px;
}
body{
    text-align: center;
    font-family: 'Arial';
    background: greenyellow;
    color: rgb(25, 104, 70);
    display: flex;
    justify-content: center;
    flex-direction: column;
}